header {font-family: 'Fira Sans', sans-serif;}
header span {display: inline-block;}
.header-svg path {fill: #fff; width: 32px; height: 32px;}

.mirror {
  -moz-transform: scale(-1, 1);
  -webkit-transform: scale(-1, 1);
  -o-transform: scale(-1, 1);
  -ms-transform: scale(-1, 1);
  transform: scale(-1, 1);
}

.service-head {
  font-weight: 400;
  line-height: 1;
  letter-spacing: -.05rem;
}

@media (min-width: 768px) {
  .lead-left {
    border-right: .5rem solid darkblue;
    padding-right: 1rem;
  }
  .lead-right {
    border-left: .5rem solid darkblue;
    padding-left: 1rem;
  }
  .portfolio-pad {
    padding: 5rem;
  }
}

.portfolio-pad {
  padding: 3rem;
}

.spacer {margin: 3rem 0;}
.contact-form label {font-weight:600;}

.contact-form button {
	background: gray;
	color: #fff;
	font-weight: 600;
}

.contact-form button:focus {box-shadow:none;}
.contact-icons a {
  text-align: center;
  height: 3rem;
  width: 3rem;
  background: #808080;
  border-radius: 100%;
  line-height: 3rem;
  color: #fff;
}
.contact-icons a:hover {
  color: #808080;
  background: #fff;
  border: 1px solid #808080;
}
.pointer-hand {cursor: pointer;}
